* {transition: all 0.1s linear !important;}

#chess {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(245, 245, 245, 0.8);
    margin: 0;
    padding: 0;
}

#chessBoard {
    border:solid 3px black;
    background: rgba(255, 255, 255, 0.8);
    display:inline-flex;
    flex-wrap: wrap;
}

#wrap {
    display:block;
    margin: 1rem auto;
    max-width: 90%;
    width: 600px;
    padding: 1rem;
}

.block {
    width: 12.5%;
    height: 12.5%;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.block .white {
    background-color: white;
}
.block .black